body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: rgb(244, 244, 244);
    color: rgb(0, 0, 0);
    padding: 20px;
}

header{
    background-color: rgb(247, 247, 247);
    color: black;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: grey;
    color: white;
    padding: 20px;
    text-align: right;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20PX;
}